@model WeightTracker.Data.User

@{
    ViewBag.Title = $"Edytuj profil {Model.FullName}";
}

<h2>@ViewBag.Title</h2>
<form asp-action="Edit">
    <input asp-for="UserId" type="hidden" />
    <div class="row">
        <div class="col">
            <input asp-for="FirstName" class="form-control" placeholder="Imię">
        </div>
        <div class="col">
            <input asp-for="LastName" class="form-control" placeholder="Nazwisko">
        </div>
    </div>
    <br/>
    <div class="row">
        <input class="col btn btn-primary" type="submit" value="💾 Zapisz"/>
    </div>
</form>