@model System.Collections.Generic.IEnumerable<WeightTracker.Data.User>

@{
    ViewBag.Title = "Lista użytwkoników";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.FirstName @user.LastName 
            <a href="@Url.ActionLink("Details", "users", new { id = user.UserId })"
               class="btn btn-success">
                👤 Profil
            </a>
        </li>
    }
</ul>
